COMPOSE_PROJECT_NAME=wordpress_wonderland_environment

DOCKER_MYSQL_DATABASE=db
DOCKER_MYSQL_ROOT_PASSWORD=password
DOCKER_MYSQL_USER=root
DOCKER_MYSQL_PASSWORD=password

DOCKER_WEBSERVER_PORT=8087
DOCKER_PHP_MY_ADMIN_PORT=8088

DOCKER_EXTERNAL_MYSQL_PORT=3336